.form-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  .form-container h2 {
    text-align: center;
  }
  
  .form-container form {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
  }
  
  .form-container label {
    display: flex;
    margin-bottom: 5px;
    border: 1px solid #444;
    background-color: #eee;
    color: #444;
    padding: 5px 10px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    margin-left: 15px;
  }
  
  .form-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }
  
  .data--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 300px;
  }
  .data--text div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  span{
    font-weight: bold;
  }